<head lang="de" xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link th:href="@{/css/main.css}" href="/css/main.css"  rel="stylesheet" type="text/css"  />

  <script th:src="@{/js/main.js}" src="/js/main.js" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
      $(document).ready(function () {
          $('#sortable').sortable({
              axis: 'y',
              stop: function (event, ui) {
                  var data = $(this).sortable('serialize');
                  $('span').text(data);
                  $.ajax({
                      data: {
                          "order" : data
                      },
                      type: 'POST',
                      url: '/update-location-order'
                  });
              }
          });
      });

  </script>
</head>