<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${day.formattedDate}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--/*@thymesVar id="day" type="com.travel.photoplanner.entity.Day"*/-->
<!--/*@thymesVar id="location" type="com.travel.photoplanner.entity.Location"*/-->
<body>

<h1 th:text="'Edit' + ${day.formattedDate}"></h1>

<form th:action="'saveDay?id=' + ${day.id} + '&amp;location=' + ${location.id}" method="POST">

  <div class="inputField">
    <div class="inputLabel" th:text="${location.name}"></div>
    <div class="inputValue">
      <input type="date" name="newDate" th:placeholder="${day.getFormattedDate()}" />
    </div>
  </div>

  <div class="buttonField">
    <div><button type="submit" value="submit" name="submit">Save</button> </div>
  </div>

</form>

</body>
</html>