/************************
 * GENERAL
 ************************/

* {
  font-family: "Bitstream Vera Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  color: #6d8e59;
}

a.button, button.button {
  text-decoration: none;
  padding: 3%;
  background-color: #6d8e59;
  color: #FFFFFF;
}

a.button:hover, button.button:hover {
  background-color: #838e7d;
}


/************************
 * HEADER
 ************************/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #FFFFFF;
}

.header-top {
  width: 80%;
  max-width: 980px;
  height: 122px;
  margin: 0 auto;
}

.header-logo {
  width: 282px;
  height: 122px;
  margin: 0 auto;
  background-image: url("/img/logo.png");
}

.image-teaser {
  width: 80%;
  max-width: 980px;
  height: 379px;
  margin: 0 auto;
  margin-top: 122px;
  background-image: url("/img/norway.jpg");
}

.content-separator {
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 980px;
  height: 2px;
  background-color: #6d8e59;
}


/************************
 * NAVIGATION
 ************************/

.header-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-navigation ul li {
  float: left;
}


/************************
 * CONTENT
 ************************/

.content {
  width: 75%;
  max-width: 940px;
  margin: 0 auto;
}

.content-header {
  width: 94%;
  float: left;
  padding: 3%;
}

.content-header-left {
  width: 60%;
  float: left;
}

.content-header-right {
  float: right;
  width: 40%;
  margin-top: 1.5%;
}

.content-header-right a.button {
  float: right;
}

.trip-overview {
  float: left;
  margin: 3%;
  padding: 5%;
  width: 80%;
  background-color: #e7e7e7;
}

.trip-details {
  float: left;
  width: 70%;
}

.trip-name {
  font-weight: bold;
  font-size: larger;
  width: 100%;
  padding: 1%;
}

.trip-date {
  padding: 1%;
}

.trip-details-info {
  float: left;
  width: 30%;
}

.trip-details-right {
  float: right;
}

.trip-details-button a.button {
  margin-top: 10%;
  padding: 5%;
  float: right;
}

.content-form {
  width: 94%;
  float: left;
  padding: 3%;
}
.input-field {
  float: left;
  width: 100%;
  padding: 1%;
}

.input-label {
  float: left;
  width: 20%;
  font-weight: 600;
  color: #6d8e59;
}

.input-value {
  float: left;
  width: 50%;
}

input {
  padding: 1%;
  width: 200px;
}

.content-form button.button {
  padding: 1.5%;
  border-style: none;
}
