<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <title th:text="${trip.country} + ': ' + ${day.formattedDate}"></title>
  <head lang="de" th:replace="fragments/head :: head"></head>

<body>
<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->
<!--/*@thymesVar id="day" type="com.travel.photoplanner.entity.Day"*/-->
<!--/*@thymesVar id="location" type="com.travel.photoplanner.entity.Location"*/-->

<!--HEADER-->
<div class="header">
  <div class="header-top">
    <div class="header-logo"></div>
  </div>
</div>
<div class="content-separator"></div>

<!--CONTENT-->
<div class="content">

  <div class="content-header">
    <div class="content-header-left">
      <h2 th:text="${trip.country} + ': ' + ${day.formattedDateWeekDays}"></h2>
    </div>
    <div class="content-header-right">
      <a href="/" class="button">Übersicht</a>
    </div>
  </div>


  <div class="content-form">
    <ul id="sortable">
      <th:block th:each="location : ${day.locationList}">
        <li class="ui-state-default" th:id="'item-' + ${location.id}">
          <div style="width:100%">
            <div style="width:80%">
              <a th:href="'location?trip=' + ${trip.id} + '&amp;id=' + ${location.id}">
                <th:block th:text="${location.name}" />
              </a>
            </div>
            <div style="width:20%; float: right;">
              <a th:href="'edit-day?id=' + ${day.id} + '&amp;location=' + ${location.id}">Edit</a>
            </div>
          </div>
        </li>
      </th:block>
    </ul>
  </div>



  <a th:class="button" th:href="'/new-location?trip=' + ${trip.id} + '&amp;id=' + ${day.id}">
    Neue Location erstellen
  </a>

</div>

</body>
</html>