<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${day.formattedDate}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
</head>

<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->
<!--/*@thymesVar id="day" type="com.travel.photoplanner.entity.Day"*/-->
<!--/*@thymesVar id="location" type="com.travel.photoplanner.entity.Location"*/-->
<body>

<h1 th:text="${day.formattedDate}"></h1>

<ul id="sortable">
  <th:block th:each="location : ${day.locationSet}">
    <li class="ui-state-default">
      <div style="width:100%">
        <div style="width:80%">
          <a th:href="'location?trip=' + ${trip.id} + '&amp;id=' + ${location.id}">
            <span th:text="'Day:' + ${location.name}" />
          </a>
        </div>
        <div style="width:20%">
          <a th:href="'editDay?id=' + ${day.id} + '&amp;location=' + ${location.id}">Edit</a>
        </div>
      </div>
    </li>
  </th:block>
</ul>


<div>

  <h2>Add new Location</h2>

  <form th:action="'createLocation?trip=' + ${trip.id}" method="POST">

    <div class="inputField">
      <div class="inputLabel">Datum:</div>
      <div class="inputValue">
        <input type="date" name="date" th:value="${day.formattedDate}" />
      </div>
    </div>


    <div class="inputField">
      <div class="inputLabel">Location Name:</div>
      <div class="inputValue">
        <input type="text" name="name" />
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Description:</div>
      <div class="inputValue">
        <input type="text" name="description" />
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Coordinates:</div>
      <div class="inputValue">
        <input type="text" name="coordinates" />
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Priority:</div>
      <div class="inputValue">
        <input type="text" name="priority" />
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Picture:</div>
      <div class="inputValue">
        <input name="Datei" type="file" size="50" accept="image/jpeg" />
      </div>
    </div>

    <div class="buttonField">
      <div><button type="submit" value="submit" name="submit">New Location</button> </div>
    </div>

  </form>
</div>

</body>
</html>