

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${trip.country}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->
<!--/*@thymesVar id="day" type="com.travel.photoplanner.entity.Day"*/-->
<!--/*@thymesVar id="location" type="com.travel.photoplanner.entity.Location"*/-->

<span th:if="${trip.country}">
  <h1 th:text="${trip.country}"></h1>
  <span th:text="${trip.formattedStartDate} + ' - ' + ${trip.formattedEndDate}" />
</span>

<div th:each="day : ${trip.dayList}">
  <a th:href="'day?trip=' + ${trip.id} + '&amp;id=' + ${day.id}">
    <span th:text="'Day:' + ${day.formattedDate}" />
  </a>
    <div th:each="location : ${day.locationSet}">
          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span th:text="${location.name}" />
    </div>
</div>



</body>
</html>