<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <title th:text="${trip.country}"></title>
  <head lang="de" th:replace="fragments/head :: head"></head>
<body>

<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->
<!--/*@thymesVar id="day" type="com.travel.photoplanner.entity.Day"*/-->
<!--/*@thymesVar id="location" type="com.travel.photoplanner.entity.Location"*/-->

<!--HEADER-->
<div class="header">
  <div class="header-top">
    <div class="header-logo"></div>
  </div>
</div>
<div class="content-separator"></div>

<!--CONTENT-->
<div class="content">

  <div class="content-header">
    <div th:if="${trip.country}">
      <div class="content-header-left">
        <h2 th:text="${trip.country}"></h2>
        <span th:text="${trip.formattedStartDate} + ' - ' + ${trip.formattedEndDate}" />
      </div>
    </div>
    <div class="content-header-right">
      <a href="/" class="button">Übersicht</a>
    </div>
  </div>

  <div class="day-list">
    <div th:class="day-list-item" th:each="day : ${trip.dayList}">
      <a th:href="'day?trip=' + ${trip.id} + '&amp;id=' + ${day.id}">
        <span th:text="${day.formattedDate}" />
      </a>
      <div th:each="location : ${day.locationList}">
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><span th:text="${location.name}" />
      </div>
    </div>
  </div>

</div>

</body>
</html>