<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de" th:replace="fragments/head :: head"></head>

<!--/*@thymesVar id="trips" type="java.util.Set<com.travel.photoplanner.entity.Trip>"*/-->
<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->

<body>

  <!--HEADER-->
  <div class="header">
    <div class="header-top">
      <div class="header-navigation">
        <ul>
          <li><a href="/">Startseite</a></li>
          <li><a href="/newTrip">Neuer Phototrip</a></li>
        </ul>
      </div>
      <div class="header-image">
      </div>
    </div>
  </div>

  <!--CONTENT-->
  <div class="content">
    <div><h2>Overview</h2></div>

      <div th:class="trip-overview" th:each="trip : ${trips}">
          <a th:href="'detail?id=' + ${trip.id}">
              <span th:class="trip-name" th:text="${trip.country}" ></span>
              <span th:class="trip-date" th:text="${trip.formattedStartDate} + ' - ' + ${trip.formattedEndDate}" />
          </a>
      </div>

      <a href="newTrip">New Trip</a>
  </div>

  <!--FOOTER-->
  <div class="footer">
    <div class="footer-bottom">
      (c) Phototrip Planner 2016
    </div>
  </div>


</body>
</html>