<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--/*@thymesVar id="trips" type="java.util.Set<com.travel.photoplanner.entity.Trip>"*/-->
<!--/*@thymesVar id="trip" type="com.travel.photoplanner.entity.Trip"*/-->

<body>
    <div><h1>Phototrip Planner</h1></div>

    <div><h2>Overview</h2></div>

  <div th:each="trip : ${trips}">
      <a th:href="'detail?id=' + ${trip.id}">
          <b><span th:text="${trip.country}" ></span></b>
          <span th:text="${trip.formattedStartDate} + ' - ' + ${trip.formattedEndDate}" />
      </a>
  </div>

  <a href="newTrip">New Trip</a>

</body>
</html>