<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de" th:replace="fragments/head :: head"></head>
<body>

<!--HEADER-->
<div class="header">
  <div class="header-top">
    <div class="header-logo"></div>
  </div>
</div>
<div class="content-separator"></div>

<!--CONTENT-->
<div class="content">
  <div class="content-header">
    <div class="content-header-left">
      <h2>Neuer Phototrip</h2>
    </div>
    <div class="content-header-right">
      <a href="/" class="button">Übersicht</a>
    </div>
  </div>

  <div class="content-form">
    <form action="createTrip" method="POST">

      <div class="input-field">
        <div class="input-label"><span class="form-label">Land</span></div>
        <div class="input-value">
          <input type="text" name="country" />
        </div>
      </div>

      <div class="input-field">
        <div class="input-label">Startdatum</div>
        <div class="input-value">
          <input type="date" name="startdate" placeholder="02-11-2016" />
        </div>
      </div>

      <div class="input-field">
        <div class="input-label">Enddatum</div>
        <div class="input-value">
          <input type="date" name="enddate" placeholder="15-11-2016" />
        </div>
      </div>

      <div class="input-field">
        <button class="button" type="submit" value="Speichern" name="Submit">Speichern</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>